.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.login__logo {
  margin-top: 50px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 200px;

  margin-right: auto;
  margin-left: 20px;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  background-color: black;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  opacity: 0.9;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
  font-size: medium;
}

.login__container > form > input {
  height: 40px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  width: 98%;
  font-size: medium;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: #e50914;

  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  opacity: 1;
}

.login__registerButton {
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 10px;
  border-color: darkgray;
}
